<mat-card class="card-container">
  <h1 class="page-title">Yearly objectives</h1>
  <mat-divider></mat-divider>
  @if (formGroup) {
  <mat-card-content class="form-container">
    <form>
      <app-username-field
        class="form-field"
        [usernameFormControl]="usernameFormControl"
      />
      <app-password-field
        class="form-field"
        [passwordFormControl]="passwordFormControl"
      />
    </form>
  </mat-card-content>
  }

  <div class="sign-up-container">
    <button
      type="submit"
      class="sign-up-button"
      mat-flat-button
      (click)="submitForm()"
    >
      Sign up
    </button>
    <div class="sign-up-buttons-links">
      <button mat-button>Reset password</button>
      <mat-divider [vertical]="true"></mat-divider>
      <a mat-button routerLink="/create-account">Create account</a>
    </div>
  </div>
</mat-card>
