<mat-accordion multi>
  @for (periodType of periodTypeList; track $index) {
    @let objectiveList = getObjectiveListByPeriod(periodType);
    <mat-expansion-panel
      [expanded]="$first"
      [disabled]="objectiveList.length === 0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ periodType }}
        </mat-panel-title>
        <mat-panel-description style="justify-content: flex-end">
          <mat-icon (click)="createObjective(periodType)">add</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        @for (item of objectiveList; track $index) {
          <p style="margin: 1rem 0 0">{{ item.description }}</p>
          <div style="display: flex; gap: 4px">
            @for (innerItem of item.objectiveCellList; track $index) {
              @if (innerItem.isChecked) {
                <div
                  style="
                    border: 1px solid greenyellow;
                    background-color: green;
                    padding: 1rem;
                  "
                ></div>
              } @else {
                <div style="border: 1px dashed red; padding: 1rem"></div>
              }
            }
          </div>
        }
      </div>
    </mat-expansion-panel>
  }
</mat-accordion>
