<h2 mat-dialog-title>Create a new objective</h2>

<mat-dialog-content class="form-container">
  <mat-form-field>
    <mat-label>Period</mat-label>
    <mat-select [formControl]="periodControl">
      @for (period of possiblePeriodTypes; track period) {
        <mat-option [value]="period">{{ period }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input
      matInput
      id="description"
      type="text"
      [formControl]="descriptionControl"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>isReversible</mat-label>
    <mat-select [formControl]="reversibleControl">
      <mat-option value="true">True</mat-option>
      <mat-option value="false">False</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Number of occurrences</mat-label>
    <input
      matInput
      id="accomplishments"
      type="Number"
      [formControl]="accomplishmentsControl"
    />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>Cancel</button>
  <button matButton (click)="submitNewObjective()" cdkFocusInitial>
    Create
  </button>
</mat-dialog-actions>
