<mat-form-field>
  <mat-label>Password</mat-label>
  <input
    matInput
    type="password"
    id="password"
    [formControl]="passwordFormControl()"
  />

  @if (passwordFormControl().hasError('required')) {
  <mat-error>Password is required.</mat-error>
  } @else { @if (passwordFormControl().hasError('missingLowerCase')) {
  <mat-error>At least one lower case letter is required.</mat-error>
  } @if (passwordFormControl().hasError('missingUpperCase')) {
  <mat-error>At least one upper case letter is required.</mat-error>
  } @if (passwordFormControl().hasError('missingSpecialCharacter')) {
  <mat-error
    >At least one of the following special character is required: # ? ! &#64; $
    % ^ & * -
  </mat-error>
  } }
</mat-form-field>
