<mat-card class="card-container">
  <h1 class="page-title">New Account</h1>
  <mat-card-content class="form-container">
    <div>
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" [field]="signUpForm.name" />
        @if (signUpForm.name().touched() && signUpForm.name().invalid()) {
          <mat-error>
            {{ signUpForm.name().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          [field]="signUpForm.email"
          placeholder="user@email.com"
        />
        @if (signUpForm.email().touched() && signUpForm.email().invalid()) {
          <mat-error>
            {{ signUpForm.email().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword() ? 'password' : 'text'"
          [field]="signUpForm.password"
        />
        <button
          matIconButton
          matSuffix
          (click)="showPassword($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword()"
        >
          <mat-icon>{{
            hidePassword() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        @if (
          signUpForm.password().touched() && signUpForm.password().invalid()
        ) {
          <mat-error>
            {{ signUpForm.password().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  </mat-card-content>

  <div class="sign-up-container">
    <button
      type="submit"
      class="sign-up-button"
      mat-flat-button
      (click)="submitForm()"
      [disabled]="signUpForm().invalid()"
    >
      Create
    </button>
  </div>
</mat-card>
